/* ANIMATION & CSS TRANSITION */
.instrument-enter {
    opacity:0;
    transform: translateY(50%);
}

.instrument-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: all 300ms ease-out;
}

.instrument-exit {
    opacity: 1;
    transform: translateY(0%);
    transition: all 300ms ease-out;
}

.instrument-exit-active {
  opacity: 0;
  transform: translateY(-50%);
  transition: all 300ms ease-out;
}

