/* ANIMATION & CSS TRANSITION */
.instrument-enter {
    opacity:0;
    transform: translateY(50%);
}

.instrument-enter-active {
    opacity: 1;
    transform: translateY(0%);
    transition: all 300ms ease-out;
}

.instrument-exit {
    opacity: 1;
    transform: translateY(0%);
    transition: all 300ms ease-out;
}

.instrument-exit-active {
  opacity: 0;
  transform: translateY(-50%);
  transition: all 300ms ease-out;
}

/* ANIMATION & CSS TRANSITION */
.button-enter {
    opacity:0 !important;
    transition: all 500ms ease-out;
}

.button-enter-active {
    opacity: 1 !important;
    transition: all 500ms ease-out;
}

.button-exit {
    opacity: 1 !important;
    transition: all 500ms ease-out;
}

.button-exit-active {
  opacity: 0 !important;
  transition: all 500ms ease-out;
}


/* MENU */


.menu-expand {
    -webkit-animation: menu-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: menu-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}


@-webkit-keyframes menu-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes menu-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}

/* PARAGRAPH */

.paragraph-left {
    -webkit-animation: paragraph-left 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: paragraph-left 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@-webkit-keyframes paragraph-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes paragraph-left {
    0% {
        -webkit-transform: translateX(-50px);
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.paragraph-right {
    -webkit-animation: paragraph-right 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: paragraph-right 0.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@-webkit-keyframes paragraph-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes paragraph-right {
    0% {
        -webkit-transform: translateX(50px);
        transform: translateX(50px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

/* MAP */

.map-enter {
    -webkit-animation: slide-in-fwd-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-fwd-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}
@keyframes slide-in-fwd-center {
    0% {
        -webkit-transform: translateZ(-1400px);
        transform: translateZ(-1400px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}






